.sec {
    height:  115vh;
    width: 97vw;
    margin-bottom: 59px;
}
.main_box_1{
    height: 63%;
    width: 100%;
    display: flex;

}
.box{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
#image1{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 2px 10px 15px black;

}
#_continuse_3{
    height: 300px;
    width: 300px;
    

}
#image5{
    height: 400px;
    width: 400px;
    box-shadow: 2px 10px 15px black;
    border: 20px solid rgba(0, 0, 0, 0.377);


}
.box:nth-child(2){
border-radius:50% ;
}
.sec_bottom_box{
    height: 35%;
    width: 100%;
    display: flex;
}
.sec_bottom_box .box:nth-child(2){
border-radius: 0%;
}

.hover_box{
    height: 300px;
    width: 20%;
    border-radius:60px;
    border: 2px solid black;
    margin-left: 2%;
    overflow: hidden;
    transition: 1s ease-in-out;
    box-shadow: 2px 5px 15px black;

}
.hover_box:hover{
    width: 40%;
    cursor: pointer;
    transition: 2s;
}
.sec_bottom_box .box:nth-child(2){
    display: flex;
    flex-direction: column;

}
.content_inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}
.sec_2_box{
    height: 100%;
    width: 50%;


}
.sec:nth-child(3){
    display: flex;
}
.sec:nth-child(4){
    background-color:gainsboro ;
    height: 130vh;
}
.sec .sec_2_box:nth-child(2){
display: flex;
justify-content: center;
align-items: center;
}
.sec .sec_2_box:nth-child(1){
display: flex;
justify-content: center;
align-items: center;
}
.profile{

display: flex;
justify-content: center;
align-items: center;
}
#profile_icon{
    font-size: 100px;
}

.sec .main{
    height: 20%;
    width: 100%;
}
.sec .main:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.sec .main:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
}
.butn_box{
    height: 8%;
    width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_header{
    height: 20%;
}
.box_feature{
    height: 60%;

}
.butn_box_2{
    width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 27%;
}
.card{
    height: 20%;
    width: 200px;
    border: 2px solid black;
    display: flex;
    
}
.box_feature{
    display: flex;
    flex-wrap: wrap;
gap: 7%;
justify-content: center;
align-items: center;
}
.icon{
    height: 100%;
    width: 20%;
    border:  2px solid black;
}

.card_of_expert{
    height: 220px;
    width: 220px;
    border: 2px solid black;
   display: flex;
   align-items: center;
justify-content: center;
flex-direction: column;
margin-bottom: 2%;
}
.array_profile{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.profile{
    height: 100px;
    width: 100px ;
    border: 2px solid black;
    border-radius: 50%;
}
.division3{
height: 10%;
width: 100%;
background-color: rgba(5, 1, 1, 0.727);
display: flex;
gap: 10%;

}
.division2{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.box_1{
    height: 10%;
    width: 80%;
    border: 2px solid black;
    display: flex;
    overflow: hidden;
    transition: 1s ease-in-out;
 cursor: pointer;
 background-color: rgba(221, 215, 215, 0.621);

}
.part_1{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.butn_of_extend{
    height: 100%;
    width: 5%;

}
.box_1:hover {
    height: 30%;
    transition: 1s ease-in-out;
 border-radius: 30px;
 color: green;
    
}
.bottm_nav{
width: 40%;
}
.bottm_nav ul {
    display: flex;
    gap: 10%;
    color: rgba(254, 255, 255, 0.563);
}
#bottm{
    color: whitesmoke;
    margin-left: 5%;
}
#all_butn{
    width: 30%;
    background-color: green;
}
#all_butn2{
    width: 50%;
    background-color: green;
}
#all_butn3{
    height: 15%;

    width: 50%;
    background-color: green;
}
#all_butn4{
    height: 15%;

    width: 30%;
    background-color: green;
}
#none_green_butn{
    height: 40px;
    width:400px;
    margin-left: 30px;
    margin-right: 30px;
    color: green;
}
#sec_id1{
    background-color: rgba(128, 128, 128, 0.338);
    height: 163vh;
}
#nav_links{
color: black;
text-decoration: none;
}
#nav_links:hover{
    color: green;
}
.sec:nth-child(7){
    margin-bottom:-50px;
}

.form_box{
    height: 100%;
    width: 80%;
    border: 2px solid black;
    display: flex;
 flex-wrap: wrap;
}
.mainform{
    height:100vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.box_1_option{
    display: flex;
    flex-wrap: wrap;
}